#s-2316a0d4-f7b7-45b8-a9d7-f94b3d24b059 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2316a0d4-f7b7-45b8-a9d7-f94b3d24b059 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2316a0d4-f7b7-45b8-a9d7-f94b3d24b059 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2316a0d4-f7b7-45b8-a9d7-f94b3d24b059 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2316a0d4-f7b7-45b8-a9d7-f94b3d24b059 #s-Label_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2316a0d4-f7b7-45b8-a9d7-f94b3d24b059 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2316a0d4-f7b7-45b8-a9d7-f94b3d24b059 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2316a0d4-f7b7-45b8-a9d7-f94b3d24b059 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2316a0d4-f7b7-45b8-a9d7-f94b3d24b059 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2316a0d4-f7b7-45b8-a9d7-f94b3d24b059 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2316a0d4-f7b7-45b8-a9d7-f94b3d24b059 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2316a0d4-f7b7-45b8-a9d7-f94b3d24b059 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}