#s-665ec720-0768-4604-ab34-f2b096b2053a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-665ec720-0768-4604-ab34-f2b096b2053a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-665ec720-0768-4604-ab34-f2b096b2053a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-665ec720-0768-4604-ab34-f2b096b2053a #s-Label_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-665ec720-0768-4604-ab34-f2b096b2053a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-665ec720-0768-4604-ab34-f2b096b2053a #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-665ec720-0768-4604-ab34-f2b096b2053a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}