#s-ea3ebe6a-3f82-4918-a561-7175b5bc485f #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ea3ebe6a-3f82-4918-a561-7175b5bc485f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ea3ebe6a-3f82-4918-a561-7175b5bc485f #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ea3ebe6a-3f82-4918-a561-7175b5bc485f #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-ea3ebe6a-3f82-4918-a561-7175b5bc485f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ea3ebe6a-3f82-4918-a561-7175b5bc485f #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-ea3ebe6a-3f82-4918-a561-7175b5bc485f #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-ea3ebe6a-3f82-4918-a561-7175b5bc485f #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6E1E1;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6E1E1;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D6E1E1;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6E1E1;
  -ms-transform: rotate(0.0deg);
}
#s-ea3ebe6a-3f82-4918-a561-7175b5bc485f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ea3ebe6a-3f82-4918-a561-7175b5bc485f #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D6E1E1;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D6E1E1;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D6E1E1;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D6E1E1;
  -ms-transform: rotate(0.0deg);
}
#s-ea3ebe6a-3f82-4918-a561-7175b5bc485f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ea3ebe6a-3f82-4918-a561-7175b5bc485f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}